###########################################################################
# Generally ignored glob matches
config.json
.coverage
_trial_temp
/*.changes
/*.tar.gz
/*.dsc
*.deb
*.debhelper
*.debhelper.log
*.[oa]
*.pyc
*.loT
*.lo
*/po/*.gmo
*~
TAGS
.project
*.nja
.pydevproject
.settings

# created by distutils
*/build

# created by dpkg-buildpackage
/*/debian/files
/*/debian/*/
/*/debian/*.substvars

###########################################################################
# pypoker-eval
/.deps/
/_pokereval_2_7.la
/autom4te.cache/
/config/libtool.m4
/config/ltoptions.m4
/config/ltsugar.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/.libs
/INSTALL
/Makefile
/Makefile.in
/_pokereval_2_4.la
/_pokereval_2_5.la
/aclocal.m4
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.guess.cdbs-orig
/config/config.sub
/config/config.sub.cdbs-orig
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/py-compile
/configure
/libtool
/pypoker-eval.pc
